// color
 $red: #d84940;
 $light-red: #da6b64;
 $yellow: #ebba4d;
 $light-yellow: #fef5e0;
// color

// font
$font: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, Arial, Helvetica, Verdana, sans-serif, "ＭＳ Ｐゴシック", "MS PGothic";
$font-en: 'Roboto', sans-serif;
$font-serif: 'Noto Serif JP', serif;
